# EDA on Slot Machine Dataset

### Extract insights from the dataset and show the findings.

## Preliminaries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("C:\\Users\\NormanKevinDelaCruz\\Desktop\\dataengineering-test-data.csv")

In [3]:
df.head(4)

,event_user,install_date,event_name,event_time,slotmachine_id,current_level,session_id,session_token,total_bet_amount,max_bet_amount,amount,spin_type,win_type
0,0006eb6299ddd86c1f8f5d5c2c868a56,2019-02-01 22:44:22.000000,pcs.slotmachine.round_played,2019-02-01 22:46:34.000000,Cleopatra,1,5342ee7a3844e98b54fd074ea9aaabc1,ed3f346fd36ec57ecd781168a063fddb,2500,5000,750,manual,fake
1,0006eb6299ddd86c1f8f5d5c2c868a56,2019-02-01 22:44:22.000000,pcs.slotmachine.round_played,2019-02-01 22:46:34.000000,Cleopatra,1,5342ee7a3844e98b54fd074ea9aaabc1,ed3f346fd36ec57ecd781168a063fddb,5000,5000,72000,manual,mega
2,0006eb6299ddd86c1f8f5d5c2c868a56,2019-02-01 22:44:22.000000,pcs.slotmachine.round_played,2019-02-01 22:46:34.000000,Cleopatra,1,5342ee7a3844e98b54fd074ea9aaabc1,ed3f346fd36ec57ecd781168a063fddb,5000,5000,0,manual,none
3,0006eb6299ddd86c1f8f5d5c2c868a56,2019-02-01 22:44:22.000000,pcs.slotmachine.round_played,2019-02-01 22:46:34.000000,Cleopatra,1,5342ee7a3844e98b54fd074ea9aaabc1,ed3f346fd36ec57ecd781168a063fddb,5000,5000,1500,manual,fake

In [4]:
df.shape # Total no. of rounds and columns

(842765, 13)

In [5]:
df.columns

Index(['event_user', 'install_date', 'event_name', 'event_time',
       'slotmachine_id', 'current_level', 'session_id', 'session_token',
       'total_bet_amount', 'max_bet_amount', 'amount', 'spin_type',
       'win_type'],
      dtype='object')

In [6]:
df.slotmachine_id.nunique() # Total Machine Slot

49

In [7]:
df.session_id.nunique() # All sessions

5377

# Question 1: Number of unique players

In [8]:
df.event_user.nunique() # players with unique event_user

1275

In [9]:
round(df[df.columns[0]].count() / df.event_user.nunique()) # the average spin per player

661

In [10]:
df.event_user.value_counts().max() # Max Spin

25438

In [11]:
df.event_user.value_counts().min() # Min Spin

1

# Question 2.1: What is the average number of slot machines a player plays in a session?

In [12]:
df.groupby(['event_user', 'session_id'])['slotmachine_id'].nunique() #  the number of slot machines used by the player in session

event_user                        session_id
0006eb6299ddd86c1f8f5d5c2c868a56  109c3ca6459b4dc9abb6eca10e4d71e8    1
                                  29cce4ff383b7540020363cb91d05424    1
                                  2e438c4036316f8b51aea8e8bfedaeb8    1
                                  31137855a6c83c04fddcfff9080612e8    1
                                  39dc99236594c5feedb56c6b91418b78    1
                                                                     ..
ff6d908ce1e1e23eb077bbf187ea8621  dbe3b0ea808239460cf73902acef0fb6    2
ff6e2bfe18a818252d15613e914b561a  198f580c51095804051dd55b55ed6988    1
                                  bce486348c6f0ca814bfa9b339a0cc0a    1
                                  f6f1a582bad390d1cbd877015e9fdfec    1
ffd256da322ee33d0d9d34ff7416a4b0  63e5528e5744c289f3219d8d05b48a14    1
Name: slotmachine_id, Length: 5377, dtype: int64

In [13]:
df.groupby(['event_user', 'session_id'])['slotmachine_id'].nunique().sum() / df.session_id.nunique() # Average usage of  slotmachine per player in a session

1.5752278222056908

In [14]:
df.groupby('event_user').session_id.nunique().max() # max session of a player

54

# Question 2.2: What is the average number of spins played in each machine session?

In [15]:
df.groupby('slotmachine_id')['event_user'].count() # Total Span of each slotmachine

slotmachine_id
AdventuresOfAlice         476
ArcaneReels               629
AstroBlitz               6707
BigBucksBarbeque         1154
BigWinBuffalo           62172
BubbleCubes               970
CasinoCats              21603
CasinoClassicSevens         8
Cleopatra              292581
ClockworkChronicles       367
DiaDeMuertos             1121
DiamondDeluxe           49683
Diner                   18459
DoubleWinClassic          259
DragonCubes              1474
Easter                    807
FairyTale               39229
FarmCubes                 851
Freya                     612
GalleonsOfGlory          1818
GoldenConquest            228
GoldenDragon            89923
HackCity                  893
ImmortalFortunes        16702
JuiceCubes              12262
JungleCubes              4784
KingdomOfGold           31671
KongsQuest                264
LuckyClassic777           159
MysticWolf              11594
PiratePlunder            3455
PotOfGold                5074
ReelsOfSpeed            17152
RichesOfAtlantis          113
RichesOfOsiris            273
SantaExtravaganza        3204
SaveTheEarth              717
SciFi                    3587
SherwoodBounty           1103
StarshipSquadron          560
SteamyHotJackpots        2328
SweetStakes              2264
TemptationIsland        15118
TheOutsiders             2803
TitanDefenders            272
VegasRoyale              5584
WildWest                31706
WorldFeast               1334
goldennights            76658
Name: event_user, dtype: int64

In [16]:
round(df.groupby('slotmachine_id')['event_user'].count().mean())  # mean spin

17199

# Question 3: What is the probability of hitting the various win_types in any given round?

In [17]:
def round_clear(value, round_by):
    return format(round(value * 100 ,round_by), "."+str(round_by)+"f")

In [18]:
round_clear(1 / df.win_type.nunique(), 2)

'14.29'

### Occurence of each win_types based on the dataset

In [19]:
df.win_type.value_counts() # number of appearance of each win_types

none        474429
fake        230497
regular      99738
big          22856
fivekind      7444
mega          5310
ultra         2491
Name: win_type, dtype: int64

In [20]:
df.win_type.value_counts(normalize = True) # distribution of each win_types

none        0.562943
fake        0.273501
regular     0.118346
big         0.027120
fivekind    0.008833
mega        0.006301
ultra       0.002956
Name: win_type, dtype: float64

# Question 4: What is the Day 1 Retention of the players?

In [21]:
df['event_time'] = pd.to_datetime(df['event_time']) # changing to datatime format for uniformity
df['install_date'] = pd.to_datetime(df['install_date'])

In [22]:
df['retention_date'] = df['install_date'] - df['event_time']
df['retention'] = df['retention_date'].dt.days # see only days thus, 24 hours

In [23]:
len(df.loc[df['event_time'].dt.strftime('%dT').str.contains('01')])

376484

In [24]:
df.groupby('retention')['event_user'].nunique()

retention
-5      98
-4     223
-3     235
-2     341
-1    1261
Name: event_user, dtype: int64

# Question 5: What is the average RTP (Return to Player) for each slot machine?

In [25]:
df["RTP"] = df['amount'] / df['total_bet_amount']  # Calculate the RTP based on the given formula

In [26]:
df.groupby("slotmachine_id")['RTP'].mean() # get the average RTP on each slot machine

slotmachine_id
AdventuresOfAlice        0.892479
ArcaneReels              0.715103
AstroBlitz               0.687863
BigBucksBarbeque         0.806378
BigWinBuffalo            0.678838
BubbleCubes              0.691478
CasinoCats               0.684488
CasinoClassicSevens    368.750000
Cleopatra                0.886940
ClockworkChronicles      8.664632
DiaDeMuertos             0.796922
DiamondDeluxe            0.783850
Diner                    0.746502
DoubleWinClassic         4.017158
DragonCubes              0.782849
Easter                   6.683764
FairyTale                0.566664
FarmCubes                7.086228
Freya                    0.614902
GalleonsOfGlory          0.758251
GoldenConquest           0.755877
GoldenDragon             0.703146
HackCity                 0.683897
ImmortalFortunes         1.605245
JuiceCubes               0.780718
JungleCubes              0.784546
KingdomOfGold            0.761619
KongsQuest               0.694621
LuckyClassic777          0.518239
MysticWolf               1.632389
PiratePlunder            0.832638
PotOfGold                1.189712
ReelsOfSpeed             0.712102
RichesOfAtlantis         0.404248
RichesOfOsiris          10.481468
SantaExtravaganza        0.769127
SaveTheEarth             0.703766
SciFi                    0.957634
SherwoodBounty           0.692348
StarshipSquadron         0.749665
SteamyHotJackpots        0.706160
SweetStakes              0.748697
TemptationIsland         0.848238
TheOutsiders             1.016247
TitanDefenders           0.906801
VegasRoyale              0.695511
WildWest                 0.904452
WorldFeast               0.807976
goldennights             0.964556
Name: RTP, dtype: float64

In [27]:
df['total_bet_amount'].max() # max bet placed

8000000000

In [28]:
df['amount'].max() # max reward

5265440000000